.destaque{
    height: 100vh;
}

.destaque-vertical-op{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 5%, transparent 95%);
}

.destaque-horizontal-op{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
}

.destaque-name{
    font-size: 5.5rem;
    margin-left: 3%;
}

.destaque-info{
    width: 30%;
    display: flex;
    font-size: 1.5rem;
    margin-top: 2%;
    margin-left: 3%;
    justify-content: space-between;
}

.destaque-descricao{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 2rem 2rem;
}

.destaque-btn{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}


