@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #111;
  color: white;
  font-family: 'Roboto';
}
.lists{
  margin-top: -150px;
}

footer{
  margin: 50px 0 10px 0;
  text-align: center;
  cursor: pointer;
}

.loading{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading img{
  width: 70%;
  object-fit: contain;
}